<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/index.css">
    <link href="../fontawesome-free-5.15.3-web/css/all.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="container-login">
            <div class="login">
                <label for="" id="title-login">Ingresar</label>
                <form action="" method="post" class="login-content">
                    <div class="field">
                        <label for=""><strong>Cedula</strong></label>
                        <input type="text" name="" id="document">
                    </div>
                    <div class="field">
                        <label for="">Contraseña</label>
                        <input type="password" name="" id="">
                    </div>
                    <input type="submit" value="Ingresar" id="send">
                </form>
            </div>
        </div>
    </div>
</body>
</html>